/* Overall Styles */
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 40px;
  font-family: "am_type", sans-serif;
}

:root{
  --main-font-color: #f2b632;
  --main-white: #fff;
  --main-font-dark-gray: #4d4d4d;
  --main-footer-bg-color: #141414;
  --main-font-family: "am_type", cursive;

}

section{
  padding: 6rem 0;
}

p{
  line-height: 1.5;
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--main-font-dark-gray);
}

a{
  text-decoration: none;
  color: var(--main-white);
}

/* Reusable Classes */

/* Header */
header{
  width: 100%;
  height: 100vh;
  background-image: url(assets/images/front_page.png);
}
/* Header - Nav Toggle */
.menu{
  padding: 2rem 2.5 rem;
  position: fixed;
  top: 3rem;
  right: 3rem;
  background-color: ;
  z-index: ggg;
  border-radius: 3px;
  cursor: pointer;
}

/* Header - Nav */

/* Header - main text */
/* Section - about me */
/* Section - portfolio */
/* Section - contact */
/* Footer */

@font-face {
    font-family: 'am_type';
    src: url(assets/fonts/MellonerFunRegular.ttf);
    font-style: normal;
    font-weight: 100;
       }
